<div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
        <img src="hbImages/toystory.jpg" alt="" data-transition="slideInLeft" />
        <img src="hbImages/walle.jpg" alt="" data-transition="slideInRight" />
        <img src="hbImages/nemo.jpg" alt="" data-transition="slideInLeft"/>
        <img src="hbImages/up.jpg" alt="" data-transition="slideInRight"/>
    </div>
</div>

<div class="row">
  <div class="column grid_4 column_left">
    <div class="blurb">
    </div>
  </div>
  <div class="column grid_4 ">
    <div class="blurb">
    </div>
  </div>
  <div class="column grid_4 column_right">
    <div class="blurb">
    </div>
  </div>
</div>

<div class="row">
  <div class="column grid_6 column_left">
    <div class="blurb">
    </div>
  </div>
  <div class="column grid_6 column_right">
    <div class="blurb">
    </div>  
  </div>
</div>

<script type="text/javascript">
  $(window).load(function() {
      $('#slider').nivoSlider();
  });
</script>
