<h2 class="account"><%= t(:my_account) %></h2>

<!-- Adding a nav bar to be moved to a partial for user account-->
<ul id="accountNav">
  <li><%= link_to t(:change_password), edit_account_path %></li>
  <li>Refer A Friend</li>
  <li>Store Credits</li>
  <li>Order History</li>
</ul>