<% if target && target.errors.any? %>
  <div id="errorExplanation" class="errorExplanation" data-hook>
    <p><%= t(:the_following_errors_were_encountered) %>:</p>
     <ul>
     <% target.errors.full_messages.each do |msg| %>
       <li class="flash"><%= msg %></li>
     <% end %>
     </ul>
  </div>
<% end %>
