<li id="login" data-hook>LOGIN</li>
<li id="signup" data-hook>SIGNUP</li>
<li id="home-link" data-hook><%= link_to t(:home), root_path %></li>
<li id="link-to-cart" data-hook><%= link_to_cart %></li>
<li id="logout" data-hook>LOGOUT</li>
