<ul id="left-menu" class="menu">
  <li id="slim_fit" data-hook>SLIM FIT</li>
  <li id="regular_fit" data-hook>REGULAR FIT</li>
</ul>
<ul id="right-menu" class="menu">
  <li id="about" data-hook><%= link_to t(:about), root_path %></li>
  <li id="blog" data-hook><%= link_to_cart %></li>
</ul>
