<ul id="left-menu" class="menu">
  <li id="slim_fit" data-hook><a href="#">SLIM FIT</a></li>
  <li id="regular_fit" data-hook><a href="#">REGULAR FIT</a></li>
</ul>
<ul id="right-menu" class="menu">
  <li id="about" data-hook><%= link_to t(:about), root_path %></li>
  <li id="blog" data-hook><%= link_to t(:blog), root_path %></li>
</ul>
