div#container {
	margin: 0 auto;
	width:960px;
}

div#container a {
	color: #555555;
	text-decoration:none;
	font-weight:bold;
}

div#container a:hover {
	color: #9fc4da; 
}

div#logo{
  	float:left;
	padding: 15px;
	padding-bottom:0;
}
div#topNavBar{
  float:right;
}

div#header div#topNavBar ul#nav-bar{
	font-size: 0.8em;
 	line-height:1em;
}

div#header div#topNavBar ul#nav-bar li {
	padding: 10px;
	height: auto;
}

div#header div#topNavBar p {
	font-size: 0.8em;
	margin: 30px 0 0;
	padding: 20px 10px 0 0;
	text-align: right;
}

div#wrapper{
 clear:both;
}
div#content{
  border:1px solid red;
  float:none;
}
div#footer{
  background-color:blue;
}

#topNavBar {
	
}

#topMenuBar {  
  clear:both;
  display:block;
  height:30px;
  background-color:#000033;
} 

#topMenuBar ul.menu { 
	margin: 0; 
	font-size:0.9em;
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000033; 
} 

#topMenuBar ul#left-menu {
	float:left;
}

#topMenuBar ul#right-menu {
	float:right;
	display: inline;
}
 
#topMenuBar ul.menu li {  
	display: inline; 
} 
 
#topMenuBar ul.menu li a { 
	text-decoration: none;
	font-weight: normal; 
	padding: .2em 1em; 
	color: #f6faf7; 
	background-color: #000033; 
} 
 
#topMenuBar ul.menu li a:hover { 
	color: #9fc4da; 
	background-color: #000033; 
}