div#container {
	margin: 0 auto;
	width:960px;
}

div#container a {
	color: #555555;
	text-decoration:none;
	font-weight:bold;
}

div#container a:hover {
	color: #9fc4da; 
}

div#logo{
  	float:left;
	padding: 15px;
	padding-bottom:0;
}
div#topNavBar{
  float:right;
}

div#header {
	margin:0;
}
div#header div#topNavBar ul#nav-bar{
	font-size: 0.8em;
 	line-height:1em;
}

div#header div#topNavBar ul#nav-bar li {
	padding: 10px;
	height: auto;
}

div#header div#topNavBar p {
	font-size: 0.8em;
	margin: 30px 0 0;
	padding: 20px 10px 0 0;
	text-align: right;
}

div#wrapper{
 clear:both;
}

div#content{
  float:none;
}
div#footer{
  background-color:blue;
}

#topNavBar {
	
}

#topMenuBar {  
  clear:both;
  display:block;
  height:30px;
  background-color:#000033;
} 

#topMenuBar ul.menu { 
	margin: 0; 
	font-size:0.9em;
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000033; 
} 

#topMenuBar ul#left-menu {
	float:left;
}

#topMenuBar ul#right-menu {
	float:right;
	display: inline;
}
 
#topMenuBar ul.menu li {  
	display: inline; 
} 
 
#topMenuBar ul.menu li a { 
	text-decoration: none;
	font-weight: normal; 
	padding: .2em 1em; 
	color: #f6faf7; 
	background-color: #000033; 
} 
 
#topMenuBar ul.menu li a:hover { 
	color: #9fc4da; 
	background-color: #000033; 
}

/*=================================*/
/* Nivo Slider CSS
/*=================================*/
.theme-default #slider {
    width:100%;
}

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(/hbImages/default/loading.gif) no-repeat 50% 50%;
    margin-bottom:50px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-42px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(/hbImages/default/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(/hbImages/default/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

/*homepage blurb css*/

.blurb {
	height:100px;
	background-color:#666;
	padding: 0 5px;
}


/* Login Page CSS */
.flash {
	margin: 2em 25px;
	background: none repeat scroll 0 0 #890000;
    border: 1px solid #550000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #770000;
    color: #FFFFFF;
    font-size: 11px;
    left: 95%;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #550000;
    white-space: nowrap;
	clear: both;
	width: 30%;
}

#existing-customer, #new-customer, #forgot-password {
	width: 55%;
	padding: 20px;
	padding-top: 5px;
}

#password-credentials {
	width:100%;
}

#password-credentials div {
	background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    margin: 0.5em 25px;
    padding: 4px;
    position: relative;
    text-align: right;
}

#password-credentials label {
	float: left;
    line-height: 30px;
    padding-left: 10px;
}

#password-credentials .title{
	    border: 1px solid #CCCCCC;
	    box-shadow: 0 0 5px #CCCCCC inset;
	    font-size: 12px;
	    line-height: 1em;
	    padding: 4px;
	    width: 280px;
}

p.forgot {
	font-size: 11px;
    text-align: right;
 	margin: 0.5em 25px;
}

div#submission {
	background: none repeat scroll 0 0 transparent;
    margin: 1em 25px;
    text-align: left;
}

div#submission .button {
	background-color:#000033;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #f0f0f0;
	display:inline-block;
	color:#f6faf7;
	font-family:arial;
	font-size:16px;
	font-weight:normal;
	padding:12px 29px;
	text-decoration:none;
	margin-right:30px;
}
div#submission .button:hover {
	background-color:#000033;
	color:#9fc4da;
}

div#submission .button:active {
	position:relative;
	top:1px;
}

div.createNew {
    margin: 0.5em 25px;
}

#errorExplanation {
	padding-left: 20px;
	padding-top:20px;
}

#forgot-password p {
	margin: 0.5em 25px;
}